* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

html {
	background-image: url('../images/marvelWallpaper.jpg');
	background-size: 450px;
	background-attachment: fixed;
	text-align: center;
	margin-top: 25px;
}

h1 {
	font-size: 30px;
	text-align: center;
}

h1.viewTitle {
    color: red;
}

h3 {
	font-size: 15px;
	text-align: center;
}

img {
	text-align: center;
}

li{
	text-align: left;
}

a {
    text-decoration: none;
    color: white;
}

.banner {
	position: fixed;
	background-attachment: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: black;
	padding: 10px;
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.banner a {
	color: red;
	position: fixed;
	top: 3%;
	left: 2%;
}

.banner input {
	border-radius: 20px;
	font-size: 10px;
	height: 20px;
	position: fixed;
	top: 3%;
	right: 2%;
}

.searchBox {
	text-align: left;
}

.title {
	margin-right: 60%;
}

.img-container {
    width: 80%;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    padding: 5px;
}

p.detail-description {
    font-size: 11px;
    text-align: left;
}

.characterDiv {
    background: rgba(0,0,0,0.8);
    width: 200px;
    margin: 5px auto;
    border: 2px solid white;
}
